footer .sec1{
 background-color:rgba(55, 71, 90, 1);
}
footer .sec2{
 background-color:rgba(35, 47, 62, 1);
}
footer .sec3{
 background-color:rgba(19, 26, 34, 1);
}
footer ul{
 list-style: none;
 padding: 0;
}
footer .text-gray{
 color: rgba(153, 153, 153, 1);
}
footer h6{
 margin: 0;
}