<footer>
  <button (click)="goUp()" class="sec1 w-100 py-3 border-0 text-white">Back to Top</button>
  <div class="sec2 text-white">
    <div class="container m-auto py-5">
      <div class="row">
        <div class="col">
          <h6 class="fw-semibold fs-6 pb-1">Get to know <br> Us</h6>
          <ul>
            <li>About Us</li>
            <li>Careers</li>
            <li>Press Releases</li>
            <li>Amazon Science</li>
          </ul>
        </div>
        <div class="col">
          <h6 class="fw-semibold fs-6 pb-1">Connect with <br> Us</h6>
          <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
          </ul>
        </div>
        <div class="col">
          <h6 class="fw-semibold fs-6 pb-1">Make Money with Us</h6>
          <ul>
            <li>Sell on Amazon</li>
            <li>Sell under Amazon Accelerator</li>
            <li>Protect and Build Your Brand</li>
            <li>Amazon Global Selling</li>
            <li>Supply to Amazon</li>
            <li>Become an Affiliate</li>
            <li>Fulfilment by Amazon</li>
            <li>Advertise Your Products</li>
            <li>Amazon Pay on Merchants</li>
          </ul>
        </div>
        <div class="col">
          <h6 class="fw-semibold fs-6 pb-1">Let Us Help You</h6>
          <ul>
            <li>Your Account</li>
            <li>Returns Center</li>
            <li>Recalls and Products Safety Alerts</li>
            <li>100% Purchase Protection</li>
            <li>Amazon App Download</li>
            <li>Help</li>
          </ul>
        </div>
      </div>
      <hr/>
      <div class="text-center">
        <img src="../../assets/image/Amazon.png" alt="Amazon.logo" />
        <button class="btn btn-outline-light btn-sm p-2 mx-2">
          <img src="../../assets/image/globe.png" alt="Globe-logo" class="pe-1" />
          English
          <img src="../../assets/image/arrows.png" alt="Arrows" class="ps-1" />
        </button>
        <button class="btn btn-outline-light btn-sm p-2 pe-4">
          <img src="../../assets/image/India.png" alt="India-flag" class="pe-1" />India
        </button>
      </div>
    </div>
  </div>
  <div class="sec3">
    <div class="container text-white text-center text-md-start py-4">
      <div class="row">
        <div class="col-md-3 mb-3">
          <h6 class="fw-normal">AbeBooks</h6>
          <p class="text-gray">Books, art <br>& collectibles</p>
        </div>
        <div class="col-md-3 mb-3">
          <h6 class="fw-normal">Amazon Web Services</h6>
          <p class="text-gray">Scalable Cloud <br> Computing Services</p>
        </div>
        <div class="col-md-3 mb-3">
          <h6 class="fw-normal">Audible</h6>
          <p class="text-gray">Download Audio <br> Books</p>
        </div>
        <div class="col-md-3 mb-3">
          <h6 class="fw-normal">IMDb</h6>
          <p class="text-gray">Movies, TV <br> & Celebrities</p>
        </div>
        <div class="col-md-3 mb-3">
          <h6>Shop bop</h6>
          <p class="text-gray">Designer <br> Fashion Brands</p>
        </div>
        <div class="col-md-3 mb-3">
          <h6 class="fw-normal">Amazon Business</h6>
          <p class="text-gray">Everything For <br> Your Business</p>
        </div>
        <div class="col-md-3 mb-3">
          <h6 class="fw-normal">Prime Now</h6>
          <p class="text-gray">2-Hour Delivery <br> on Everyday Items</p>
        </div>

        <div class="col-md-3 mb-3">
          <h6 class="fw-normal">Amazon Prime Music</h6>
          <p class="text-gray">100 million sings, ad-free <br> Over 15 million podcast episodes</p>
        </div>
      </div>
    </div>

    <div class="container text-white text-center py-2 small">
      Conditions of Use & Sale <span class="px-3">Privacy Notice</span> Interest-Based Ads
      <br />
      1996-2024, Amazon.com, Inc. or its affiliates
    </div>
  </div>
</footer>
