
      <div class="container-fluid px-3 py-4">
            <div class="row">
                  <div class="left col-12 col-lg-6 d-flex justify-content-center align-items-center">
                        <img [src]="product?.image"  alt="" class="w-75">
                  </div>

                  <div class="right col-12 col-lg-6 d-flex flex-column flex-lg-row gap-2">
                        <div class="one me-lg-4">
                              <div class="above">
                                    <p>{{product?.brand}}</p>
                                    <h3>{{product?.name}}</h3>
                                    <div class="rate d-flex gap-4 align-items-center mb-3">
                                          <div class="firstrate">
                                                <span>4.1</span>
                                                <img src="../../assets/images/Star 1.svg" alt="star">
                                                <img src="../../assets/images/Star 1.svg" alt="star">
                                                <img src="../../assets/images/Star 1.svg" alt="star">
                                                <img src="../../assets/images/Star 1.svg" alt="star">
                                                <img src="../../assets/images/Star 5.svg" alt="star">
                                                <img src="../../assets/images/Vector 7.svg" alt="arrow">
                                          </div>
                                          <div class="secondrate"> 27 Ratings <span class="text-black px-3">|</span> search this page</div>
                                    </div>
                              </div>

                              <div class="line"></div>
                              <div class="midddle">
                                    <div><sup class="sup">SAR</sup> <sub class="sub">203</sub> <sup class="sup">14</sup></div>
                                    <p class="py-3 text-black fs-4">All price include VAT.</p>
                                    <p class="signextra"><span class="sign">Sign in to redeem.</span> <span class="extra">Extra 20%</span> off with meem credit cards.</p>
                                    <p class="signextra">Enter code MEEM20 at checkout. Discount by Amazon.</p>
                                    <div class="services d-flex flex-wrap gap-5">
                                          <div class="service">
                                                <img src="../../assets/images/image 620.svg" alt="">
                                                <p>Electronic payment only</p>
                                          </div>

                                          <div class="service">
                                                <img src="../../assets/images/image 621.svg" alt="">
                                                <p>30 days returnable</p>
                                          </div>

                                          <div class="service">
                                                <img src="../../assets/images/image 622.svg" alt="">
                                                <p>secure transaction</p>
                                          </div>
                                    </div>
                              </div>
                              <div class="line"></div>
                              <div class="bottom">
                                    <h4 class="font-bold">About this item</h4>
                                    <ul>
                                          <li>Feature: square neck, cutout, puff sleeve, ruffle hem, tie back aline dress</li>
                                          <li>Fabric has some stretch,and it's soft and comfortable</li>
                                          <li>Suitable for daily wear, holidays, dating, vacation, weekend casual</li>
                                          <li>Care Instructions: Machine wash or professional dry clean</li>
                                    </ul>
                              </div>
                        </div>

                        <div class="two">
                              <div class="mb-3"><sup class="sup">SAR</sup> <sub class="sub">203</sub> <sup class="sup">14</sup></div>
                              <p class="fs-6 fw-semibold">SAR96 delivery 6-9 October.</p>
                              <p class="details mb-2">Details</p>
                              <div class="d-flex gap-2 align-items-center">
                                    <img src="../../assets/images/location.svg" alt="location">
                                    <p class="delivery w-75">Delivery to Riyadh - Update Location</p>
                              </div>
                              <p class="usually w-75">Usually ships within 4 to 5 days</p>
                              <div class="mb-3">
                                    <select class="form-select" style="width: 250px; padding: 8px; font-weight: bold; background-color: #F0F2F2;">
                                          <option selected>Quantity: 1</option>
                                          <option>Quantity: 2</option>
                                          <option>Quantity: 3</option>
                                          <option>Quantity: 4</option>
                                          <option>Quantity: 5</option>
                                    </select>
                              </div>
                              <button (click)="addToCart(product?.id)" class="add">Add to cart</button>
                              <button class="buy">buy Now</button>

                              <div class="details pt-4">
                                    <div class="d-flex justify-content-between w-75">
                                          <span class="text-secondary">Ships from</span>
                                          <span class="text-secondary">Monatik LLC</span>
                                    </div>

                                    <div class="d-flex justify-content-between w-75">
                                          <span class="text-secondary">sold by</span>
                                          <span>Monatik LLC</span>
                                    </div>
                                    <div class="d-flex gap-5">
                                          <span class="text-secondary">payment</span>
                                          <span>Secure transaction</span>
                                    </div>
                              </div>
                              <div class="smallLine"></div>
                              <button class="addlist">Add to list</button>
                        </div>
                  </div>
            </div>
            <div class="line"> </div>

            <!-- the under part      **********************************************************************************************-->

            <div class="row finish">
                  <div class="reviews col-12 col-lg-3">
                        <h4>customer reviews</h4>
                        <div class="lastrate d-flex align-items-center gap-3 mb-3">
                              <div class="stars">
                                    <img src="../../assets/images/Star 1.svg" alt="star">
                                    <img src="../../assets/images/Star 1.svg" alt="star">
                                    <img src="../../assets/images/Star 1.svg" alt="star">
                                    <img src="../../assets/images/Star 1.svg" alt="star">
                                    <img src="../../assets/images/Star 5.svg" alt="star">
                              </div>
                              <span class="fs-5"> 4.1 out of 5</span>
                        </div>
                        <p class="fs-5 global">1 global rating</p>

                        <div class="rateNumbers">
                              <div class="ratecontainer d-flex gap-4 align-items-center mb-3">
                                    <span class="starsNumber text-black">5 star</span>
                                    <div class="rateempty">   </div>
                                    <span class="starsNumber text-black">0%</span>
                              </div>

                              <div class="ratecontainer d-flex gap-4 align-items-center mb-3">
                                    <span class="starsNumber">4 star</span>
                                    <div class="rateempty position-relative"> <div class="fillrate"></div>  </div>
                                    <span class="starsNumber">71%</span>
                              </div>

                              <div class="ratecontainer d-flex gap-4 align-items-center mb-3">
                                    <span class="starsNumber">3 star</span>
                                    <div class="rateempty">   </div>
                                    <span class="starsNumber">0%</span>
                              </div>

                              <div class="ratecontainer d-flex gap-4 align-items-center mb-3">
                                    <span class="starsNumber">2 star</span>
                                    <div class="rateempty position-relative"> <div class="fillrate"></div>  </div>
                                    <span class="starsNumber">6%</span>
                              </div>

                              <div class="ratecontainer d-flex gap-4 align-items-center mb-3">
                                    <span class="starsNumber">1 star</span>
                                    <div class="rateempty">   </div>
                                    <span class="starsNumber">0%</span>
                              </div>
                        </div>
                  </div>

                  <div class="persons col-12 col-lg-9 ">
                        <div class="personreview mb-5">
                              <div class="name fs-5"> <img src="../../assets/images/image.svg" alt=""> Brooke</div>
                              <div class="hisrate d-flex gap-3 py-2">
                                    <div class="hisstars">
                                          <img src="../../assets/images/Star 1.svg" alt="star">
                                          <img src="../../assets/images/Star 1.svg" alt="star">
                                          <img src="../../assets/images/Star 1.svg" alt="star">
                                          <img src="../../assets/images/Star 1.svg" alt="star">
                                          <img src="../../assets/images/Star 5.svg" alt="star">
                                    </div>
                                    <h3 class="fw-bold fs-4">Favorite dress</h3>
                              </div>
                              <p class="fs-6 pb-1">Reviewed in the United States on 6 August 2024</p>
                              <div class="productDetails pb-2"> <span>Size: 40</span> | <span>Color: Black</span>  | <h6 class="d-inline ps-2 fw-bold">Verified Purchase</h6></div>
                              <p class="  fs-6 fw-medium mine">I initially purchased this dress on sale. It turned out to be my favorite dress of this summer. It is extremely versatile and unexpectedly flattering. When I accidentally tore it, I was really upset. My husband told me to buy it again, which I typically wouldn't do. It wasn't on sale and I am so frugal. The dress washes very well and I always get compliments when I wear it.</p>
                              <span class="report pb-2">Report</span>
                        </div>


                        <div class="personreview mb-5 ">
                              <div class="name"> <img src="../../assets/images/image2.svg" alt=""> Elva S. D.</div>
                              <div class="hisrate d-flex gap-3 ">
                                    <div class="">
                                          <img src="../../assets/images/Star 1.svg" alt="star">
                                          <img src="../../assets/images/Star 1.svg" alt="star">
                                          <img src="../../assets/images/Star 1.svg" alt="star">
                                          <img src="../../assets/images/Star 1.svg" alt="star">
                                          <img src="../../assets/images/Star 1.svg" alt="star">
                                    </div>
                                    <h3 class="fw-bold fs-4">Lindo!!</h3>
                                    </div>
                                    <p class="fs-6">Reviewed in the Mexico on 11 August 2023</p>
                                    <h6 class="d-inline  fw-bold verified">Verified Purchase</h6>
                                    <p class="w-100 w-md-25 fs-6 fw-medium">Bien hecho, bonita tela y bonita caída, fresco y casual.La marca lo dice!!</p>
                                    <span class="report pb-2">Report</span>
                              </div>



                              <div class="personreview mb-5 ">
                                    <div class="name"> <img src="../../assets/images/image 3.svg" alt=""> Ana Patricia Rodriguez</div>
                                    <div class="hisrate d-flex gap-3 ">
                                          <div class="">
                                                <img src="../../assets/images/Star 1.svg" alt="star">
                                                <img src="../../assets/images/Star 1.svg" alt="star">
                                                <img src="../../assets/images/Star 1.svg" alt="star">
                                                <img src="../../assets/images/Star 5.svg" alt="star">
                                                <img src="../../assets/images/Star 5.svg" alt="star">
                                          </div>
                                          <h3 class="fw-bold fs-4">COMODIDAD</h3>
                                          </div>
                                          <p class="fs-6">Reviewed in the United State on 29 June 2023</p>
                                          <h6 class="d-inline  fw-bold verified">Verified Purchase</h6>
                                          <p class="w-100 w-md-50 fs-6 fw-medium">ES LINDO COMODO Y LIGERO PARA CLIMA CALIDO, ES LA TELA ADECUADA</p>
                                          <span class="report pb-2">Report</span>
                                    </div>


                                    <div class="personreview mb-5 ">
                                          <div class="name"> <img src="../../assets/images/imagelast.svg" alt="">Ivelisse</div>
                                          <div class="hisrate d-flex gap-3 ">
                                                <div class="">
                                                      <img src="../../assets/images/Star 1.svg" alt="star">
                                                      <img src="../../assets/images/Star 1.svg" alt="star">
                                                      <img src="../../assets/images/Star 1.svg" alt="star">
                                                      <img src="../../assets/images/Star 1.svg" alt="star">
                                                      <img src="../../assets/images/Star 5.svg" alt="star">
                                                </div>
                                                <h3 class="fw-bold fs-4">Excellent dress</h3>
                                                </div>
                                                <p class="fs-6">Reviewed in the United State on 3 April 2019</p>
                                                <h6 class="d-inline  fw-bold verified">Verified Purchase</h6>
                                                <p class="w-100 w-md-75  fs-6 fw-medium">Lovely dress... I'm 5'1" with pear form body (149 pounds mostly in hips and booty) and it fits perfect.</p>
                                                <span class="report pb-2">Report</span>
                                          </div>

                  </div>
            </div>
      </div>

