.cursor-pointer{
  cursor:pointer;
}
#cart {
  background-color: #eaeded;
}
#cart .btn-warning {
  background-color: rgba(255, 216, 20, 1);
  transition: all 0.1s ease-in;
}
#cart .btn-warning:hover {
  background-color: #ffce12;
}
#cart a {
  text-decoration: none;
  color: #0066c0;
  font-size: small;
  cursor: pointer;
}
#cart a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  img[alt="Product-Image"] {
    width: 50%;
  }
}
.cursor-pointer {
  cursor: pointer;
}
