<swiper-container class="mySwiper" navigation="true">
  <swiper-slide>
    <img src="assets/home-images/slider1-img1.jpg" alt="" />
    <div class="gradient-overlay"></div>
  </swiper-slide>
  <swiper-slide>
    <img src="assets/home-images/slider1-img2.jpg" alt="" />
    <div class="gradient-overlay"></div>
  </swiper-slide>
  <swiper-slide>
    <img src="assets/home-images/slider1-img3.jpg" alt="" />
    <div class="gradient-overlay"></div>
  </swiper-slide>
  <swiper-slide>
    <img src="assets/home-images/slider1-img4.jpg" alt="" />
    <div class="gradient-overlay"></div>
  </swiper-slide>
  <swiper-slide>
    <img src="assets/home-images/slider1-img5.jpg" alt="" />
    <div class="gradient-overlay"></div>
  </swiper-slide>
  <swiper-slide>
    <img src="assets/home-images/slider1-img6.jpg" alt="" />
    <div class="gradient-overlay"></div>
  </swiper-slide>
</swiper-container>
