$text-primary:#000000 ;
$text-secondary:#717171 ;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
.toggle-filters-btn{
    display: none ;
}
// Sidebar toggle button for small screens
.toggle-filters-btn {
    display: none;
    border: none;
    color: #FFCC00;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;

  }

.cursor-pointer{
    cursor:pointer;
}
.filters-container{
    background-color: #FFFFFF;
    margin: 7px;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh; /* Full height of viewport */
    overflow-y: auto;
    .filter-section{
        margin-bottom: 1.7rem ;
        .filter-title{
            font-weight: 700;
            font-size: 0.8rem;
            line-height: 1.1rem;
        }
        .filter-option{
            gap: 4.45px;
            input{
                border: 0.89px solid #000000
            }
            label{
                font-family: 'Inter',sans-serif;
                font-weight: 400;
                font-size: 0.77rem;
                line-height: 0.9rem;
                text-align: center;
                margin-left: 5px;
            }
        }
        .ratings{
            .stars{
                color: #FFCC00 ;
            }
        }      
    }
}

.product-card-contain{
    background-color: #FFFFFF;
    margin: 7px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    .product-card{
        border: 1.08px solid #D9D9D9 ;
        width: calc((100% / 4) - (19px * 3 / 4));
        padding: 20px 20px 40px 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          }
        .product-image{
            width: 15.9rem;
            height:12.1rem ;
            margin-bottom: 0.8rem;
        }
        .product-details{
            .product-name{
                color: $text-primary;
                font-weight: 500;
                font-size: 1.12rem;
                line-height: 19.58px;
                margin-bottom: 18px;
            }
            .product-rating{
                margin-bottom: 18px;

                .stars{
                    color: #FFCC00;
                }
                .rating-count{
                    font-weight: 400;
                    font-size: 1.2rem;
                    line-height: 20.63px;
                    color: #1F8394;
                }
                .bought-count{
                    color: $text-secondary;
                    font-weight: 400;
                    font-size: 0.80rem ;
                    line-height: 16.03px;
                }
            }
                .product-price{
                    margin-bottom: 12px;
                    .current-price{
                        font-family: 'Inter',sans-serif;
                        font-weight: 400;
                        font-size: 1.34rem;
                        line-height: 26.1px;
                        color: $text-primary;
                    }
                    .discount-percentage{
                        color: $text-secondary;
                    }
            }
            .emi-info{
                span{
                    font-family: 'Inter',sans-serif;
                    color: $text-secondary;
                    font-weight: 300;
                    font-size:0.8rem;
                    line-height: 15.66px;
                    text-align: center;
                }
            }

            .delivery-info{
                margin-bottom: 15px;

                .free-delivery{
                    font-family: 'Inter',sans-serif;
                    font-weight: 300;
                    font-size: 0.9rem;
                    line-height: 15.66px;
                    color: $text-primary;

                }
                .delivery-time{
                    color: $text-primary;
                    font-family: Inter;
                    font-weight: 600;
                    font-size:0.9rem;
                    line-height: 15.66px;margin-bottom: 10px;
                }
            }
            .add-to-cart-btn{
                background-color:  #FFCC00;
                gap: 9.91px;
                border-radius: 19.81px;
                padding: 10px 20px;
                border: none;
                margin-bottom: 18px;
                font-family: 'Inter';
                font-weight: 300;
                font-size: 11.89px;
                line-height: 14.39px;
                letter-spacing: 0%;
                font-family: 'Inter',sans-serif;
                position: absolute;
                bottom: 4px;
                margin: 20px 0 5px 0;


            }
        }
    }
}




// Media Queries
@media (max-width: 1024px) {
    .product-card-contain .product-card {
      width: calc((100% / 3) - (19px * 2 / 3));
    }
    .sidebar-toggle {
        display: block;
      }
   
      .toggle-filters-btn{
          display: block ;
      }
      .filters-container {
          display: none;
        }
        
        .filters-container.active {
          display: block;
        }
  }


  
  @media (max-width: 768px) {
    .sidebar-toggle {
      display: block;
    }
 
    .toggle-filters-btn{
        display: block ;
    }
    .filters-container {
        display: none;
      }
      
      .filters-container.active {
        display: block;
      }
  
    .filters-container {
      transform: translateX(-100%);
      &.active {
        transform: translateX(0);
      }
    }
  
    .product-card-contain .product-card {
      width: calc((100% / 2) - (19px / 2));
    }
  }
  
  @media (max-width: 550px) {
    .product-card-contain .product-card {
      width: 100%;
    }
  }
  