.cards {
  display: grid;
  position: relative;
  top: -200px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0px 3rem;
  z-index: 1;
}
.cards .card {
  background-color: var(--white);
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 0.5rem;
  border: 0px;
  width: fit-content;
  padding: 1rem;
}

.cards .card h1 {
}

.cards .card .data {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(104px, 1fr));
  gap: 1rem;
}
.cards .card .data figure {
  width: fit-content;
}
.cards .card .data figure img {
  width: 9rem;
}
.cards .card .data figure figcaption {
  max-width: 6rem;
  font-size: 0.7rem;
  font-weight: 600;
}
.cards .card a {
  color: var(--Blue3);
  text-decoration: none;
}

.slider {
  position: relative;
  top: -150px;
  padding: 3rem;
  margin-bottom: 3rem;
}

.slider .info {
  background-color: var(--white);
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
}

.slider .info h3 {
  margin-bottom: 2rem;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
