
<div class="logo-container">
    <img src="../../assets/image/Group 1.png" alt="">
</div>

<div class="container-register">
    <p class="register-title">Create Account</p>
    <label for="name">Your name</label>
    <input type="text" [(ngModel)]="name" id="name">
    <label for="phone">Mobile number</label>
    <input type="text" [(ngModel)]="phone" id="phone">
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="password" id="password">
    <button class="verify-btn" (click)="register()">Verify mobile number</button>

    <div class="Buying-work">
        <h3>Buying for work?</h3>
        <a href="#">Create a free business account</a>
    </div>


    <div class="already-con">
        <span class="already-have">Already have an account?</span> 
        <a class="sign_in" href="#" (click)="goToLogin()">Sign in</a>
    </div>
    

    <div class="last">
        <h3>By creating an account or logging in , you agree to Amazon’s </h3>
        <a href="">Conditions of Uses <span>and</span>  Privacy Notice.</a>
    </div>


</div>
<footer class="site-footer">
    <div class="footer-line"></div>
    <div class="footer-links">
        <a href="#">Conditions of Use</a>
        <a href="#">Privacy Notice</a>
        <a href="#">Help</a>
    </div>
    <p>© 1996-2024, Amazon.com, Inc. or its affiliates</p>
</footer>

